

h1 {
    color: blue;
}

.input_data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputNum {
    width: 500px;
    padding: 5px;
    margin: 5px
}

.canvas {
    display: flex;
    flex-direction: row;
    width:700px;
    height: 700px;
    border: 1px black solid;
    margin-left: auto;
    margin-right: auto;
}
    
.resButton {
    display: flex;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}
.singleTile {
    background-color: beige;
}
.singleTile:hover {
    background-color: aquamarine
}
